canvas {
    border: 1px dashed red;
    position: relative;
}
button {
    width: 200px;
}
#divLeft {
    position: absolute;
    top: 410px;
    left: 140px;
}
#divRight {
    position: absolute;
    top: 410px;
    left: 230px;
}
#divControls {
    position: absolute;
    top: 10px;
    left: 430px;
}

.divBrowse {
    position: relative;
    float: left;
    display: block;
}

#combo {
    position: relative;
    float: left;
    display: block;
    margin-top: 10px;
}

#files {
    width: 300px;
}
